@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
.CheckRegisCoruse-bordered-table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 25px;
}

.CheckRegisCoruse-bordered-table th, .CheckRegisCoruse-bordered-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  height: 10vh; /* สูงเต็มหน้าจอ */
  text-align: center;
}
.CheckRegisCoruse-Texthead {
  margin-top: 70px;
  margin-left: 180px;
  font-family: 'Kanit', sans-serif;

}
.CheckRegisCoruse-bordered-table th {
  background-color: #E1E1E1; 
  text-align: center;
}
.CheckRegisCoruse-blue-text{
  color:blue;
}


.CheckRegisCoruse-right{
  position: relative;
  right: 190px;
  margin-top: 110px;

}