/* DateAdmin.css */
.DateAdmin-text {
  font-family: 'Kanit';
  font-weight: 1000;
  font-size: 20px;
}

.DateAdmin-text2 {
  font-family: 'Kanit';
  font-size: 12px;
  margin-top: -15px;
}

.custom-date-picker-container {
  display: flex;
  align-items: center;

}

.icon-date {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.DateAdmin-text3 {
  font-family: 'Kanit';
  font-size: 12px;
  margin-bottom: 0px;
  margin-left: 50px;
}

.custom-date-picker {
  font-family: 'Kanit';
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  width: 120px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #000;
}

.custom-time-picker {
  font-family: 'Kanit';
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #000;
}

.custom-date-picker-all {
  margin-left: 20px;
  margin-top: 20px;
}

.custom-date-picker-all2 {
  margin-left: 50px;
  margin-top: 10px;
}

.Down-picker {
  margin-top: 30px;
}


.text-header{
  font-family: 'Kanit';
  font-size: 13px;
  color: rgb(255, 255, 255);
  background: #127151;
  padding: 2px 5px;
  top: 205px;
  left: 395px;
  border-radius: 5px;
 


}


.column-date{
  display: flex; /* ใช้ Flexbox เพื่อจัดวางแถว */
  justify-content: 60px; /* จัดวางระยะห่างระหว่างองค์ประกอบในแนวนอน */
  align-items: center; /* จัดวางตามแนวดิ่งให้กลางแถว */
}



.line {
  width: 60%;
  height: 1px;
  background-color:  #CBC8C8;
  margin-top: 20px;

}

.left{
  margin-left: 60px;
  margin-top: 70px;
}

.turnleft-all{
  position: relative;
  left: 350px;
  margin-top: 128px;
}