/* Popup.css */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.popup-addmin {
    position: fixed;
    top: 0;
    left: 0;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(50% 5%); */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* สีหลังของ Popup แบบทึบๆ */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .popup-content-addmin {
    background: white;
    padding: auto; 
    border-radius: 8px;
  }
  
  .left-addmin {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .right-addmin{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 20px;
  }
  
  .out-addmin{
    display: flex;
    justify-content: end;
  }
  
  .btExit{
    color: #127151;
    font-size: 40px;
  }
  .in-addmin{
    display: flex;
    margin : 5px 30px 30px 30px;
  }
  .btn{
    margin-top: 15px;
    padding: auto;
    background-color: #127151;
    color: #fff;
    border: 0px;
    border-radius: 2px;
    text-align: center;
    font-family: 'Kanit';
  }
  
  .drop-area-addmin{
    margin-right: 10px;
    border: 3px dashed #127151;
    text-align: center;
    background-color: #CCDCD7;
    font-family: 'Kanit';
    font-size: medium;
  }
  
  .file{
    display: none;
  }
  
  