.text1 {
    margin-top: 100px; /* Adjust the top position as needed */
    left: 350px; /* Adjust the left position as needed */
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}
.text1 a {
    font-weight: 400;
}

a {
    margin-right: 120px;
}

.dropdown5 select {
    width: 100px; /* Adjust the width as needed */
    height: 30px;
    padding: 5px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
    border: 1px solid #000; /* Ensure the border is always visible */
    border-radius: 4px; /* Border radius */
    background-color: #fff; /* Background color */
    color: #000; /* Text color */
}
.dropdown6 select {
    width: 100px; /* Adjust the width as needed */
    height: 30px;
    padding: 5px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
    border: 1px solid #000; /* Ensure the border is always visible */
    border-radius: 4px; /* Border radius */
    background-color: #fff; /* Background color */
    color: #000; /* Text color */
}
.dropdown7 select {
    width: 100px; /* Adjust the width as needed */
    height: 30px;
    padding: 5px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
    border: 1px solid #000; /* Ensure the border is always visible */
    border-radius: 4px; /* Border radius */
    background-color: #fff; /* Background color */
    color: #000; /* Text color */
}

/* Style for dropdown menu options */
option {
    background-color: #fff; /* Background color */
    color: #000; /* Text color */
}

.dropdown5 {
    margin-left: 5px;
    
    display: inline-block; /* Change to block to move below text */
}

.dropdown6 {
    margin-left: 90px; /* Adjust left margin */
    
    display: inline-block; /* Change to block to move below text */
}

.dropdown7 {
    margin-left: 100px; /* Adjust left margin */
    
    display: inline-block; /* Change to block to move below text */
}
.flex-container {
    display: flex;
    align-items: center; /* This will vertically center align the items */
}
.timepickers-container1 {
    display: inline-block;
    align-items: center; /* Aligns the time pickers in the middle vertically */
    margin-left: 50px;
    margin-right: 50px;

}
.timepickers-container2 {
    display: inline-block;
    align-items: center; /* Aligns the time pickers in the middle vertically */
    margin-left: 45px;
}