@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
.testtable-bordered-table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 25px;
  background: white;
}

.testtable-bordered-table th, .testtable-bordered-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
.testtable-Texthead {
  margin-top: 70px;
  margin-left: 180px;
  font-family: 'Kanit', sans-serif;

}
.testtable-bordered-table th {
  background-color: #CCDCD7; /* เพิ่มสีเขียวอ่อนให้กับหัวของตาราง */
  text-align: center;
}
.testtable-image-container {
  display: flex;
  justify-content: center; /* จัดให้ content อยู่ตรงกลาง */
  align-items: center; /* จัดให้ content อยู่ตรงกลาง */
  height: 10vh; /* สูงเต็มหน้าจอ */
}

.testtable-centered-image {
  max-width: 100%; /* กว้างไม่เกินพื้นที่ของ container */
  max-height: 100%; /* สูงไม่เกินพื้นที่ของ container */
}


.testtable-turnleft-all{
    position: relative;
    left: 170px;
    margin-top: 110px;
  }


  .testtable-buttonchange{
    position: absolute; /* ตั้งค่าเป็น absolute เพื่อให้สามารถใช้ right property ได้ */
    right: 18%;
    margin-top: 20px;

  }


  .testtable-inputNumNisit{
    width: 80px; /* Adjust the width as needed */
    height: 20px;
    padding: 5px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
    border: 1px solid #000000; /* Ensure the border is always visible */
    border-radius: 4px; /* Border radius */
    background-color: #fff; /* Background color */
    color: #000; /* Text color */
    font-family: 'Kanit';
  
  
  }
  
  .testtable-dropdownposition{
    display: flex;
    justify-content: center;
  }

  

  
  .testtable-dropdown{
    width: 80px; /* Adjust the width as needed */
    height: 30px;
    padding: 5px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
    border: 1px solid #000000; /* Ensure the border is always visible */
    border-radius: 4px; /* Border radius */
    background-color: #fff; /* Background color */
    color: #000; /* Text color */
    font-family: 'Kanit';
    margin: 0px 0px 0px 0px;
    
  }


  .RegisResultTable-container {
    position: relative;
    width: 1028px;
    height: 338px;
    top: 144px;
    left: 345px;
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  

  .bg-color-grey{
    background-color: #F5F5F5;

  }

/* 
  .box-table-container{
    position: relative;
    width: auto;
    height: auto;
    top: 20px;
    border-radius: 10px;
    background-color: #ffffff;

  } */