@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.UserBoxNameEduca-userbox {
    
    width: 1000px;
    height: 100%;
    background: linear-gradient(180deg, #CAE1CB -13.96%, rgba(225, 225, 225, 0) 86.04%);
    border-radius: 10px;
    border: none;


}

.UserBoxNameEduca-NameEduca {

    font-family: 'Kanit';
    color:  #8C3941;
    font-size: 15px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    


}


.UserBoxNameEduca-buttonadd{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    padding-top: 10px;
}