@import url('https://fonts.googleapis.com/css?family=kanit');


.box-Edu-position{
    padding-top: 10px;
    margin-left: 100px;
    width: 350px;
    /* background-color: aquamarine; */
}

.drop-area-Edu{
    margin-right: 10px;
    border: 3px dashed #127151;
    text-align: center;
    background-color: #CCDCD7;
    font-family: 'Kanit';
    font-size: medium;
    height: 140px;
    width: 190px;
  }

