@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
.HeaderTeacher-header {
    background-color: #d9d9d9;
    /* text-align: right; */
    padding: 20px;
    font-size: 20px;
    height: 35px;
    width: 99%; 
    position: fixed; 
    top: 0;
    /* left: 250px;  */
    display: flex;
    /* align-items: center; */
    /* justify-content: flex-end; */
    z-index: 2;
    /* justify-content:space-between; */
}
  
.HeaderTeacher-notification-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Change margin-left to margin-right */

}
  
.HeaderTeacher-logout-icon {
    width: 28px;
    height: 28px;
    margin-right: 10px; /* Change margin-left to margin-right */
    margin-left: 20px;
}

.HeaderTeacher-Ed-text{
    font-family: 'Kanit', sans-serif;
    
}

.HeaderTeacher-Ed-text-font{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin-left: 260px;
    align-self: center;
    /* position: relative;
    right: 520px;
    top: 20px; */
    
}


.HeaderTeacher-text-icon{
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    color: #727171;
    align-self: center;
    
}

.HeaderTeacher-icon{
    display: flex;
    margin-left: auto;   
    margin-right: 20px;

}

.KU-logo{


}

.HeaderTeacher-text{
    font-family: 'Kanit', sans-serif;
    font-size: 19px;
    align-self: center;
    margin: 10px;


}
