@import url('https://fonts.googleapis.com/css?family=kanit');


.box-Input-position{
    /* padding-top: 10px; */
    margin-left: 50px;
    /* background-color: black; */
}

/* .drop-area-Edu{
    margin-right: 10px;
    border: 3px dashed #127151;
    text-align: center;
    background-color: #CCDCD7;
    font-family: 'Kanit';
    font-size: medium;
    height: 160px;
    width: 190px;
  } */