.CheckboxOpenCourse-box{
    width: 1100px; /* กำหนดความกว้างของกล่อง */
    height: 580px; /* กำหนดความสูงของกล่อง */
    background-color: white; /* ตั้งสีพื้นหลังของกล่องเป็นสีขาว */
    border-radius: 5px; /* เพิ่มมุมโค้งให้กับขอบของกล่อง */
    

}

.CheckboxOpenCourse-dropdown{
    margin-left: 60px;
    position: relative;
    top: 30px;
    font-size: 16px;
    

}
.CheckboxOpenCourse-button {
    background-color: #127151; /* สีพื้นหลังเป็นสีเขียว */
    color: white; /* สีข้อความเป็นสีขาว */
    border: none; /* ไม่มีเส้นขอบ */
    padding: 5px 20px; /* กำหนดขนาดของปุ่ม */
    border-radius: 5px; /* กำหนดรูปร่างของมุม */
    cursor: pointer; /* ตัวชี้เมาส์เป็นรูปของมือ */
    position: relative;
    margin-left: 30px;
    font-family: 'kanit';
    font-weight: normal;
}


.CheckboxOpenCourse-check-block {
    display: flex;
    align-items: center;
    

}

.CheckboxOpenCourse-check-block input[type="checkbox"] {
    margin-right: 5px;
    
}

.CheckboxOpenCourse-checkbox-text {
    font-size: 16px;
    cursor: pointer;
    color:  #127151;
}


.leftleft{
    margin-left: 20px;
}
.CheckboxOpenCourse-NewBox {
    background-color:#CCDCD7; /* สีพื้นหลังเป็นสีเทา */
    width: 90%; /* กำหนดความกว้าง */
    height: 400px; /* กำหนดความสูง */
    margin-top: 20px; /* กำหนดระยะห่างด้านบน */
    margin-left: 23px;
    border-radius: 5px;
}
.CheckboxOpenCourse-NewBox {
    display: flex;
    align-items: 10px;
    max-height: 300px; /* ปรับความสูงสูงสุดตามที่ต้องการ */
  overflow-y: auto;
    
}

.CheckboxOpenCourse-NewBox input[type="checkbox"] {
    margin-right: 5px;
}

.CheckboxOpenCourse-NewBox .checkbox-text {
    font-size: 16px;
    cursor: pointer;
    
}

.CheckboxOpenCourse-Item {
    display: flex;
    align-items: center;
}

.CheckboxOpenCourse-Item input[type="checkbox"] {
    margin-right: 25px;
}

.CheckboxOpenCourse-Item .checkbox-text {
    font-size: 16px;
    cursor: pointer;
    
    
}
.CheckboxOpenCourse-status {
    position: relative;
    margin-left: 400px;
    
}

.CheckboxOpenCourse-status::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.CheckboxOpenCourse-status::after {
    background-color: red; /* กำหนดสีสำหรับสถานะแดง */
}

input[type="checkbox"]:checked ~ .CheckboxOpenCourse-status::after {
    background-color: green; /* กำหนดสีสำหรับสถานะเขียว เมื่อ checkbox ถูกติ๊ก */
}
.CheckboxOpenCourse-status1 {
    position: relative;
    margin-left: 292px;
    
}
.CheckboxOpenCourse-status1::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.CheckboxOpenCourse-status1::after {
    background-color: red; /* กำหนดสีสำหรับสถานะแดง */
}

input[type="checkbox"]:checked ~ .CheckboxOpenCourse-status1::after {
    background-color: green; /* กำหนดสีสำหรับสถานะเขียว เมื่อ checkbox ถูกติ๊ก */
}


.CheckboxOpenCourse-status2 {
    position: relative;
    margin-left: 290px;
    
}
.CheckboxOpenCourse-status2::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.CheckboxOpenCourse-status2::after {
    background-color: red; 
}

input[type="checkbox"]:checked ~ .CheckboxOpenCourse-status2::after {
    background-color: green; 
}

.CheckboxOpenCourse-status3 {
    position: relative;
    margin-left: 110px;
    
}
.CheckboxOpenCourse-status3::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.CheckboxOpenCourse-status3::after {
    background-color: red; 
}

input[type="checkbox"]:checked ~ .CheckboxOpenCourse-status3::after {
    background-color: green; 
}

.CheckboxOpenCourse-status4 {
    position: relative;
    margin-left: 195px;
    
}
.CheckboxOpenCourse-status4::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.CheckboxOpenCourse-status4::after {
    background-color: red; 
}

input[type="checkbox"]:checked ~ .CheckboxOpenCourse-status4::after {
    background-color: green; 
}

.CheckboxOpenCourse-status5 {
    position: relative;
    margin-left: 366px;
    
}
.CheckboxOpenCourse-status5::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.CheckboxOpenCourse-status5::after {
    background-color: red; 
}

input[type="checkbox"]:checked ~ .CheckboxOpenCourse-status5::after {
    background-color: green; 
}

.CheckboxOpenCourse-status6 {
    position: relative;
    margin-left: 285px;
    
}
.CheckboxOpenCourse-status6::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.CheckboxOpenCourse-status6::after {
    background-color: red; 
}

input[type="checkbox"]:checked ~ .CheckboxOpenCourse-status6::after {
    background-color: green; 
}


/* 
////// */
.CheckboxOpenCourse-changeButton{
    position: relative;
    margin-left: 85%;
    margin-top: 60px;
}