.CheckboxOpenCourse-box{
    width: 1100px; /* กำหนดความกว้างของกล่อง */
    height: 650px; /* กำหนดความสูงของกล่อง */
    background-color: white; /* ตั้งสีพื้นหลังของกล่องเป็นสีขาว */
    border-radius: 5px; /* เพิ่มมุมโค้งให้กับขอบของกล่อง */
    

}

.CheckboxOpenCourse-dropdown{
    margin-left: 60px;
    position: relative;
    top: 30px;
    font-size: 16px;
    

}
.CheckboxOpenCourse-button {
    background-color: #127151; /* สีพื้นหลังเป็นสีเขียว */
    color: white; /* สีข้อความเป็นสีขาว */
    border: none; /* ไม่มีเส้นขอบ */
    padding: 5px 20px; /* กำหนดขนาดของปุ่ม */
    border-radius: 5px; /* กำหนดรูปร่างของมุม */
    cursor: pointer; /* ตัวชี้เมาส์เป็นรูปของมือ */
    position: relative;
    margin-left: 30px;
    font-family: 'kanit';
    font-weight: normal;
}


.CheckboxOpenCourse-check-block {
    display: flex;
    align-items: center;
    

}

.CheckboxOpenCourse-check-block input[type="checkbox"] {
    margin-right: 5px;
    
}

.CheckboxOpenCourse-checkbox-text {
    font-size: 16px;
    cursor: pointer;
    color:  #127151;
}


.leftleft{
    margin-left: 20px;
}
.CheckboxOpenCourse-NewBox {
    background-color:#CCDCD7; /* สีพื้นหลังเป็นสีเทา */
    width: 90%; /* กำหนดความกว้าง */
    height: 400px; /* กำหนดความสูง */
    margin-top: 20px; /* กำหนดระยะห่างด้านบน */
    margin-left: 23px;
    border-radius: 5px;
}
