.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .box{
      width: 1070px; 
      height: 150px; 
      background-color: white; 
      border: 1px solid #127151; 
      border-style: dashed;
      border-radius:40px;
      position: absolute;
      left: 370px;
      top: 100px;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      cursor: pointer;
  }
  
  .plus {
    width: 70px;
    height: 70px;
    top: 30px;
    left: 500px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .text-under-img {
    color: #127151;
    margin-top: 110px;
    font-size: 16px; 
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 100px;
    border: 1px solid #127151;
    border-radius: 10px;
    text-align: center;
    z-index: 999; /* ให้ Popup อยู่บนสุด */
    overflow: auto; /* ทำให้เกิดการเลื่อนถ้าขนาดของ Popup เกินกว่าขนาดหน้าจอ */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .popup button {
    position: absolute;
    padding: 8px 16px;
    bottom: 100px; /* กำหนดระยะขอบล่าง */
    right: 200px; /* กำหนดระยะขอบขวา */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    bottom: 20px; /* กำหนดระยะขอบล่าง */
    right: 20px; /* กำหนดระยะขอบขวา */
  }
  
  .input {
    width: 550px;
    height: 400px;
  }
  
  .custom-input {
    position: absolute;
    bottom: 500px; /* กำหนดระยะขอบล่าง */
    right: 70px; /* กำหนดระยะขอบขวา */
    resize: both; /* ทำให้สามารถปรับขนาดของกล่องข้อความได้ */
    text-indent: 10px;
    text-align: left;
    overflow-wrap: break-word;
  }
  
  .custom-input::placeholder {
    vertical-align: top; /* กำหนดให้ cursor อยู่ที่มุมซ้ายบนของกล่อง */
  }
  
  .button-container button:hover{
    margin-top: 10px; /* ระยะห่างระหว่างปุ่ม */
    background-color: rgb(128, 128, 128);
  }
  
  .btn-primary {
    background-color: #127151;
  }
  
  .btn-primary:active {
    background-color: #127151 !important;
  }
  
  .btn-secondary {
    background-color: rgb(255, 0, 0);
    margin-right: 630px;
  }

  .delete-icon {
  cursor: pointer;
  color: red; /* สีของไอคอนลบ */
  font-size: 20px; /* ขนาดของไอคอนลบ */
}
